//
//  Stagging.xcconfig
//  IMT-iOS
//
//  Created by dev on 06/03/2023.
//

//MARK: Protocol
PROTOCOL = https:/
PROTOCOL_RSS = https:/
PROTOCOL_HOLIDAY = https:/
PROTOCOL_MAIN = https:/
PROTOCOL_POSTCODE = https:/

//MARK: Domain
DOMAIN = localhost
DOMAIN_RSS = localhost
DOMAIN_HOLIDAY = localhost
DOMAIN_MAIN = localhost
DOMAIN_POSTCODE = localhost

//MARK: Require Prefix
REQUIRE_PREFIX = IMTAP/SRV
REQUIRE_PREFIX_RSS =
REQUIRE_PREFIX_HOLIDAY =
REQUIRE_PREFIX_MAIN = IMTAP/SRV
REQUIRE_PREFIX_POSTCODE = api

//MARK: BaseURL
BASE_URL = $(PROTOCOL)/$(DOMAIN)/$(REQUIRE_PREFIX)
BASE_URL_RSS = $(PROTOCOL_RSS)/$(DOMAIN_RSS)/$(REQUIRE_PREFIX_RSS)
BASE_URL_HOLIDAY = $(PROTOCOL_HOLIDAY)/$(DOMAIN_HOLIDAY)/$(REQUIRE_PREFIX_HOLIDAY)
BASE_URL_MAIN = $(PROTOCOL_MAIN)/$(DOMAIN_MAIN)/$(REQUIRE_PREFIX_MAIN)
BASE_URL_POSTCODE = $(PROTOCOL_POSTCODE)/$(DOMAIN_POSTCODE)/$(REQUIRE_PREFIX_POSTCODE)

//MARK: AppFlyers
FLYERS_APP_DEV_KEY = 
APPLE_APP_ID = 

//MARK: Env
ENVIROMENT = STAGGING

//MARK: Security
AES_KEY = 
