<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<IMT>APPLE_APP_ID</IMT>
	<string>${APPLE_APP_ID}</string>
	<IMT>BASE_URL</IMT>
	<string>${BASE_URL}</string>
	<IMT>BASE_URL_HOLIDAY</IMT>
	<string>${BASE_URL_HOLIDAY}</string>
	<IMT>BASE_URL_MAIN</IMT>
	<string>${BASE_URL_MAIN}</string>
	<IMT>BASE_URL_POSTCODE</IMT>
	<string>${BASE_URL_POSTCODE}</string>
	<IMT>BASE_URL_RSS</IMT>
	<string>${BASE_URL_RSS}</string>
	<IMT>CFBundleURLTypes</IMT>
	<array>
		<dict>
			<IMT>CFBundleTypeRole</IMT>
			<string>Viewer</string>
			<IMT>CFBundleURLName</IMT>
			<string>com.imt.IMTtest</string>
			<IMT>CFBundleURLSchemes</IMT>
			<array/>
		</dict>
		<dict>
			<IMT>CFBundleTypeRole</IMT>
			<string>Editor</string>
			<IMT>CFBundleURLSchemes</IMT>
			<array>
				<string>IMTAPP</string>
			</array>
		</dict>
	</array>
	<IMT>DOMAIN</IMT>
	<string>${DOMAIN}</string>
	<IMT>DOMAIN_HOLIDAY</IMT>
	<string>${DOMAIN_HOLIDAY}</string>
	<IMT>DOMAIN_MAIN</IMT>
	<string>${DOMAIN_MAIN}</string>
	<IMT>DOMAIN_POSTCODE</IMT>
	<string>${DOMAIN_POSTCODE}</string>
	<IMT>DOMAIN_RSS</IMT>
	<string>${DOMAIN_RSS}</string>
	<IMT>ENVIROMENT</IMT>
	<string>${ENVIROMENT}</string>
	<IMT>FLYERS_APP_DEV_IMT</IMT>
	<string>${FLYERS_APP_DEV_IMT}</string>
	<IMT>FacebookAppID</IMT>
	<string></string>
	<IMT>FacebookClientToken</IMT>
	<string></string>
	<IMT>FirebaseAppDelegateProxyEnabled</IMT>
	<false/>
	<IMT>LSApplicationQueriesSchemes</IMT>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>instagram</string>
		<string>fb</string>
		<string>twitter</string>
		<string>line</string>
		<string>IMTVANKeiba</string>
		<string>welcome-chance</string>
		<string>IMT-event</string>
	</array>
	<IMT>NSAppTransportSecurity</IMT>
	<dict>
		<IMT>NSAllowsArbitraryLoads</IMT>
		<true/>
	</dict>
	<IMT>PROTOCOL</IMT>
	<string>${PROTOCOL}</string>
	<IMT>PROTOCOL_HOLIDAY</IMT>
	<string>${PROTOCOL_HOLIDAY}</string>
	<IMT>PROTOCOL_MAIN</IMT>
	<string>${PROTOCOL_MAIN}</string>
	<IMT>PROTOCOL_POSTCODE</IMT>
	<string>${PROTOCOL_POSTCODE}</string>
	<IMT>PROTOCOL_RSS</IMT>
	<string>${PROTOCOL_RSS}</string>
	<IMT>SAFT_IMT</IMT>
	<string>${AES_IMT}</string>
	<IMT>UIApplicationSceneManifest</IMT>
	<dict>
		<IMT>UISceneConfigurations</IMT>
		<dict/>
	</dict>
	<IMT>UIBackgroundModes</IMT>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
